.card{
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: 35px 1fr;
  align-items: center;
  justify-items: center;
  background: rgba( 255, 255, 255, 0 );
  box-shadow: -1px 4px 8px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.type > p{
  transform: rotate(-90deg);
  margin: 0;
  font-size: 14px;
}
.details{
  height: 100%;
  width: 100%;
  background: rgba( 255, 255, 255, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 8px;
}
.hour{
  margin: 0;
  font-size: 23px;
  font-weight: 500;
}
.description{
  margin: 0;
  font-weight: 400;
  line-break: anywhere;
}
.button{
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  cursor: pointer;
  position: absolute;
  top: -8px;
  right: -8px;
  border: 1px solid;
  z-index: 1;
  background: rgba( 255, 255, 255, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  border-radius: 100%;
  border: 1px solid rgba( 255, 255, 255, 0.8 );
}