.form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  padding: 20px;
}
.label {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 600;
}
.input{
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid rgb(156 163 175);
  margin: 10px 0;
  padding: 5px;
  outline: none;
}
.input:focus{
  outline: 1px solid rgb(22 78 99);
}
.submitButton{
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  border-radius: 5px;
  width: fit-content;
  padding: 6px 10px;
  background-color: rgb(59 130 246);
  border: none;
}
.submitButton:hover{
  background-color: rgb(37 99 235);
}
.form > div{
  display: flex;
  flex-direction: column;
}
.deleteButton{
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  border-radius: 5px;
  width: fit-content;
  padding: 6px 10px;
  background-color: #ef4444;
  border: none;
}
.deleteButton:hover{
  background-color: #dc2626;
}